@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

                
/* Top title section */

#title {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    font-weight: 500; 
    color: #F6772D; 
}

#preTitle {
    font-weight: 400; 
    font-family: 'DM Sans', sans-serif; 
    color: #4EB1E9; 
}

#subtitle {
    font-weight: 400; 
    font-family: 'DM Sans', sans-serif; 
    font-size: 26px; 
    color: #4C6B8B;
}

.topSpace {
    height: 90px;
}

#introDiv {
    background-color: #F3F1A5; 
    margin-left: 0px; 
    margin-right: 0px; 
    padding-left: 0px; 
    padding-right: 0px; 
}

/* Explaining PPAs */

#topPPA {
    font-size: 30px; 
    font-family: 'DM Sans', sans-serif; 
    text-align: center;
    color: #4EB1E9; 
} 

.break1 {
    height: 60px; 
}

#PPAexplain {
    text-align: center; 
    font-family: 'Source Serif Pro', serif; 
    font-size: 25px; 
}

#whyPPA {
    text-align: center; 
    font-size: 30px; 
    font-weight: 400; 
    font-family: 'DM Sans', sans-serif; 
    color: #F6772D; 
}

#ppaAdv {

}

#ppaDef {
     color: #4C6B8B;
    font-family: 'Source Serif Pro', serif;   
}

/* PPA Graphs */ 

#thirdPartySize1 {
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    margin-bottom: 0px;
}

#lawPie {
    border: 2px black solid; 
}

#propStat {
    padding-left: 10px; 
     color: #4C6B8B;
    font-family: 'DM Sans', sans-serif; 
    font-size: 25px; 
    position: relative; 
    top: 50%;
    transform: translateY(-50%); 
    margin-top: 0px; 
    
}

#fundProp {
    max-width: 100%; 
    height: auto;
    width: auto/9; 
    margin-right: -150px;
    padding-left: 0px; 
    
}

#fundSizeViz {
    display: inline-block; 
    position: relative; 
    width: 100%; 
    padding-bottom: 35%; 
    vertical-align: top; 
    overflow: hidden;  
}

#fundBySize {
    display: flex; 
    align-items: center; 
    justify-content: space-between;   
    margin-top: -170px; 
}

#fund-size-main {
    display: inline-block; 
    position: absolute; 
    top 0px; 
    left: 0; 
    margin-top: -50px; 
    margin-bottom: -50px; 
    padding-top: -150px;
    padding-bottom: -150px; 
}
#fundSizeStat {
    padding-left: 20px; 
    margin-top: -100px; 
    color: #4C6B8B;
    font-family: 'DM Sans', sans-serif; 
    font-size: 25px; 
    position: relative; 
    top: 50%;
    transform: translateY(-50%); 
    margin-top: 0px; 
}

#sections {
    position: relative; 
    display: inline-block; 
    width: 500px; 
    top: 60px; 
    z-index: 90; 
    margin-right: 20px; 
}

.step {
    margin-bottom: 100px; 
    height: 750px; 
    text-align: justify; 
     display: flex;
  justify-content: center;
  flex-direction: column;
}


#graphic {
    margin: auto; 
    width: 1500px; 
    flex-direction: row; 
    align-items: top; 
    justify-content: space-around; 
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 1000px;
    width: 1000px;
}

#tooltip {
    position: absolute;
    border-radius: 3px;
    display: none; 
    color: black;
    border: 1px solid black; 
    background-color: white; 
    padding: 6px;
    font-size: 1.1em;
    max-width: 400px;
    z-index: 100;
}

#step1 {
    background-color: #D9E100; 
    padding-left: 20px; 
    font-family: 'DM Sans', sans-serif; 
    font-size: 25px; 
    padding-right: 20px; 
    color: white; 
   /* padding-top: 200px; */
    margin-bottom: 0px; 
     display: table-cell; 
    vertical-align: middle; 
}

#step2 {
    color: #4C6B8B;
    font-family: 'DM Sans', sans-serif; 
    font-size: 25px;   
    padding-left: 20px; 
   /* padding-top: 450px; */
    margin-bottom: 0px; 
}

#step3 {
    color: #4C6B8B;
    font-family: 'DM Sans', sans-serif; 
    font-size: 25px; 
    padding-left: 20px; 
   /* padding-top: 450px;*/ 
    margin-bottom: 0px; 
}

.stepText {
    /*margin-top: 450px;*/
     vertical-align: middle; 
}

#tusconExplain {
width: 100vw;
position: relative;
    padding-left: 20px; 
    padding-right: 20px; 
/*margin-left: 0vw;*/
 height: auto;
 margin-top: 100px;
    margin-bottom: 20px; 
 left: 0%;
 overflow: auto; 
}

#noThird {
    width: 100vw;
position: relative;
    padding-left: 20px; 
    padding-right: 20px; 
/*margin-left: 0vw;*/
 height: auto;
 margin-top: 170px;
    margin-bottom: 0px;
 left: 0%;
 overflow: auto; 
}

#tucsonViz {
    width: 100vw;
    position: relative;
    padding-left: 20px; 
    padding-right: 20px; 

    height: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    left: 0%;
    overflow: auto; 
}
